body {
  font-family: sans-serif;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 8.33%);
    gap: 0;
    justify-content: center;
}

.board img {
    width: 8.33vw;
    height: 8.33vw; /* keeps them square */
    display: block;
}
